<link rel="stylesheet" href="/stylesheets/userProfile.css" />

{{!-- Accordian Start  --}}
                             <div class="col-lg-7" style=" margin-left: 40px;"  id="myDiv">
                            <div class="checkout-wrap p-5 card">
                                
                                <div class="card-body">
       
                                <form   id="pass-form" >

                                    <h3 class="text-center mb-3">Change Password</h3>
                                    <div class="row">
                                        <div class="col-sm-12 m-3">
                                            <div class="form-grp">
                                                <label for="current-pass">Current Password<span>*</span></label>
                                                <input type="password" id="currentPass" name="currentPass" class="ml-4" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 m-3">
                                            <div class="form-grp">
                                                <label for="newPass">New Password<span>*</span></label>
                                                <input type="password" id="password" name="newPass" class="ml-5" onkeyup="validatePassword()" required/>
                                            </div>
                                                <span id="passwordError" class="text-danger fw-regular"></span>
                                        </div>

                                         <div class="col-sm-12 m-3">
                                            <div class="form-grp">
                                                <label for="retype-newpass">Retype New Password<span>*</span></label>
                                                <input type="password" id="cpassword"  class="" onkeyup="validateRepass()" required>
                                            </div>
                                                <span id="cpasswordError" class="text-danger fw-regular"></span>
                                        </div>
                                       

                                    <div style="width: 50%; margin: auto;">

                                        <a class="btn text-white mt-4" type="submit" style="border-radius: 10px; background-color: green; ;" onclick="changePassword()" role="button" >Update Password</a>                                       
                                    </div>
                                        
                                    </div>
                                </form>

                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>

                                {{!-- Accordian ends --}}