<link rel="stylesheet" href="/stylesheets/orderSuccess.css">

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="payment text-center">
        <img src="/img/bg/credit-card.png" alt="" width="200px">

        <div class="content">
               <h1>Order Failed !</h1>
               <p>Your Order Is Not Placed , Please try Again!</p>
               <a href="/cart">Back to Cart</a>
            </div>

    </div>
    </div>
  </div>
</div>